$base-color: #B5F1CC;
$secondary-color: #E5FDD1;
$third-color: #C9F4AA;
$accent-color: #FCC2FC;

.app-background {
    background-color: $base-color;
}

.body {
    position: relative;
    z-index: 1;
}

.header{
    text-align: right;
}

.header-icon {
    margin: 3% 5% 0 5%;
}

.hoverable-row:hover {
    background-color: #e5fcd2;
    cursor: pointer;
}

.no-locations-result {
    padding-top: 10px;
}

.non-hoverable-row:hover {
    box-shadow: none !important;
}

.store-element-width {
    width: 92%;
    margin: auto;
}

.store-hours-table-td {
    padding-left: 0 !important;
}

.store-input-style {
    background-color: $secondary-color;
    border-radius: 15px;
    padding: 10px;
}

.store-search-page {
    padding: 20% 0;
    text-align: center !important;
}

.store-table-styling{
    text-align: left;
}

.store-right-column {
    text-align: right;
    width: 117px;
}

.table-spacer {
    background-color: $base-color;
}

.table-store-data {
    background-color: $secondary-color;
}

table.stores-table td {
    border-radius: 10px;
}

table.stores-row-table {
    margin-bottom: 0;
}

td {
    border: 0;
}

@media screen and (min-width: 1200px) {
    .store-element-width {
        width: 50%;
    }
}